.sidebar {
    display: none;
}

.sidebar.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #FFFFFF;
    width: 320px;
    height: 100%;
    z-index: 3;
    box-shadow: 0 10px 40px rgba(29, 33, 38, 0.13), 0 1px 2px rgba(29, 33, 38, 0.1);
}

.background {
    position: absolute;
    background: #000000;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.nav a {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-top: 27px;
    text-decoration: none;
    color: #000000;
}

.nav a:hover {
    color: #58ACFF;
}
.nav a:active {
    color: #3D6B99;
}

.nav a.active {
    color: #0059B2;
    text-decoration: underline;
}

.close {
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    margin-left: 275px;
    margin-top: 20px;
}

.close img {
}


